.product {
    padding: 20px 50px;
    display: flex;
    gap: 50px;
    .left {
        flex: 1;
        display: flex;
        gap: 20px;
        .images {
            flex: 1;
            img {
                width: 100%;
                height: 150px;
                object-fit: cover;
                cursor: pointer;
                margin-bottom: 10px;
            }
        }
        .mainImg {
            flex: 5;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                max-width: 400px;
                width: 80%;
                object-fit: cover;
                max-height: 600px;
            }
        }
    }
    .right {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 30px;
        .price {
            font-size: 24px;
            color: #2879fe;
            font-weight: 500;
        }
        p{
            font-size: 16px;
            font-weight: 300;
            text-align: justify;
        }
        .quantity {
            display: flex;
            align-items: center;
            gap: 10px;
            button {
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                border: none;
            }
        }
        .add {
            width: 200px;
            padding: 10px;
            background-color: #2879fe;
            color: white;
            border: none;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            font-weight: 500;
        }
        .link {
            display: flex;
            gap: 20px;
        
            .item {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                color: #2879fe;
            }
        }
        .info {
            display: flex;
            flex-direction: column;
            gap: 10px;
            color: gray;
            font-size: 14px;
            margin-top: 30px;

            hr {
                width: 200px;
                border: 1px solid rgb(238, 237, 237);
            }
        }
        hr {
            border: 1px solid rgb(238, 237, 237);
        }
    }
}